<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="fr"><![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" lang="fr">
<!--<![endif]-->
<head>
    <meta charset="utf-8"><!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
        wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
    <title>{{ site.name_fr }}</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"><!-- Meta Data -->
    <meta content="{{ site.name_fr }}" name="dcterms.title" title="ISO639-2">
    <meta content="fr" name="dcterms.language" title="ISO639-2"><!-- custom page metadata start -->
    <meta content="{{ site.description_fr }}" name="description">
    <meta content="{{ site.creator_fr }}" name="dcterms.creator">
    <meta content="{{ site.keywords_fr }}" name="dcterms.subject" title="scheme"><!-- end of custom metadata -->
    
    <!-- woudc-guidebook {{ config.extra.version }} {{ meta.date[0] }} -->
    
    <!-- global link relations -->
    <link href="/" rel="canonical">
    <link href="http://woudc.org/about/index.php?lang=fr" rel="author" title="Information à propos de l’auteur">
    <link href="http://woudc.org/data/explore.php?lang=fr" rel="search" title="Rechercher sur le site">
    <link href="http://woudc.org/home.php?lang=fr" rel="home" title="Page d’accueil">
    <link href="http://woudc.org/about/data-policy.php?lang=fr" rel="license" title="Politiques en matière de données">
    <link href="http://woudc.org/news/feed/?lang=fr" rel="alternate" title="Annonces" type="application/atom+xml"><!-- Twitter Cards / OpenGraph -->
    <meta content="summary" name="twitter:card">
    <meta content="{{ site.name_fr }}" name="og:title">
    <meta content="website" name="og:type">
    <meta content="{{ site.url }}" name="og:url">
    <meta content="{{ site_description }}" name="og:description">
    <meta content="http://woudc.org/static/site/img/wmo_acronym_vertical_sm.jpg" name="og:image">
    <meta content="http://woudc.org/static/site/img/gaw_acronym_vertical_sm.jpg" name="og:image"><!--[if gte IE 9 | !IE ]><!-->
    <link href="/static/libs/js/wet-boew-theme-gcwu-fegc/css/wet-boew.min.css" rel="stylesheet"><!--<![endif]-->
    <link href="/static/libs/js/wet-boew-theme-gcwu-fegc/css/theme.min.css" rel="stylesheet">
    <link href="/static/libs/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/site/css/font-awesome-fix.css" rel="stylesheet"><!--[if lt IE 9]><link rel="stylesheet" href="/static/libs/js/wet-boew-theme-gcwu-fegc/css/ie8-wet-boew.min.css"/>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/libs/js/wet-boew-theme-gcwu-fegc/js/ie8-wet-boew.min.js"></script><![endif]-->
     <noscript>
    <link href="/static/libs/js/wet-boew-theme-gcwu-fegc/css/noscript.min.css" rel="stylesheet"></noscript><!-- CustomCSSStart -->
    <!-- CustomCSSEnd -->

    <style type="text/css">
    .width-auto {
        width: auto !important;
    }
    #wb-glb-mn .pnl-btn a {
        color: #FFF !important;
    }
    #share-wdg-woudc {
        margin: 2em 1em 0 0;
    }
    </style>
</head>
<body typeof="WebPage" vocab="http://schema.org/">
    <ul id="wb-tphp">
        <li class="wb-slc">
            <a class="wb-sl" href="#wb-cont">Passer au contenu principal</a>
        </li>
        <li class="wb-slc visible-md visible-lg">
            <a class="wb-sl" href="#wb-info">Passer à l’information à propos du site</a>
        </li>
    </ul>
    <header role="banner">
        <!-- HeaderStart -->
        <div id="wb-bnr">
            <div id="wb-bar">
                <div class="container">
                    <div class="row">
                        <object aria-label="Gouvernement du Canada" data="/static/libs/js/wet-boew-theme-gcwu-fegc/assets/sig-fr.svg" id="gcwu-sig" role="img" tabindex="-1" type="image/svg+xml">
                        </object>
                        <ul class="list-inline" id="gc-bar">
                            <li>
                                <a href="http://www.canada.ca/fr/index.html" rel="external">Canada.ca</a>
                            </li>
                            <li>
                                <a href="http://www.canada.ca/fr/services/index.html" rel="external">Services</a>
                            </li>
                            <li>
                                <a href="http://www.canada.ca/fr/gov/dept/index.html" rel="external">Ministères</a>
                            </li>
                            <li id="wb-lng">
                                <h2>Sélectionner la langue</h2>
                                <ul class="list-inline">
                                    <li>
                                        <a href="/en" lang="en">English</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <section class="wb-mb-links col-xs-12 visible-sm visible-xs" id="wb-glb-mn">
                            <h2>Menu</h2>
                            <ul class="pnl-btn list-inline text-right">
                                <li>
                                    <a aria-controls="mb-pnl" class="overlay-lnk" href="#mb-pnl" role="button" title="Menu"><span class="fa fa-mn fa-th-list"><span class="wb-inv">Menu</span></span></a>
                                </li>
                            </ul>
                            <div id="mb-pnl"></div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-5" id="wb-sttl">
                        <a href="http://guide.woudc.org/"><span>WOUDC Guidebook</span></a>
                    </div><object aria-label="Symbole du gouvernement du Canada" data="/static/libs/js/wet-boew-theme-gcwu-fegc/assets/wmms.svg" id="wmms" role="img" tabindex="-1" type="image/svg+xml">
                    </object>
                </div>
            </div>
        </div>
        <nav class="wb-menu visible-md visible-lg wb-init" data-trgt="mb-pnl" id="wb-sm" role="navigation" typeof="SiteNavigationElement">
            <div class="pnl-strt container visible-md visible-lg nvbar">
                <h2>Menu du site</h2>
                <div class="row">
                    <ul class="list-inline menu" role="menubar">
                        <li>
                            <a class="item" href="{{ site.url }}">{{ site.name_fr }}</a>
                        </li>
                        <!-- Nav to more different guides here -->
                    </ul>
                </div>
            </div>
        </nav>
        <!--
        <nav id="wb-bc" property="breadcrumb" role="navigation">
            <h2>Fil d’Ariane</h2>
            <div class="container">
                <div class="row">
                    <ol class="breadcrumb">
                        <li>
                            <a href="http://guide.woudc.org/">Accueil</a>
                        </li>
                        <li>{{ site.name_fr }}</li>
                    </ol>
                </div>
            </div>
        </nav>
        -->
        <!-- HeaderEnd -->
    </header><!-- MainContentStart -->
    <main class="container" property="mainContentOfPage" role="main">
        <h1 id="wb-cont" property="name">{{ site.name_fr }} (Version {{ site.version }})</h1><!-- MainContentStart -->
        <div itemscope itemtype="http://schema.org/AboutPage">
            {{ content }}
        </div><!-- MainContentEnd -->
        <dl id="wb-dtmd" property="dateModified" role="contentinfo">
            <dt>Version:</dt>
            <dd>{{ site.version }}</dd>
        </dl>
        <div class="wb-share pull-right text-right" data-wb-share='{"pnlId": "pnl1"}' id="share-wdg-woudc"></div>
        <div class="pull-right text-right align-bottom hidden-xs hidden-sm" id="share-qr-woudc"><img alt="{{ site.name_fr }}" height="50" src="https://chart.googleapis.com/chart?chs=50x50&cht=qr&chl={{ site.url }}/{{ page.url }}" title="{{ site.name_fr }}" width="50"></div>
    </main>
    <footer class="visible-sm visible-md visible-lg wb-navcurr" id="wb-info" role="contentinfo">
        <div class="container">
            <nav role="navigation">
                <h2>Information à propos du site web</h2>
                <ul class="list-inline" id="gc-tctr">
                    <li>
                        <a href="http://ec.gc.ca/default.asp?lang=FR&amp;xml=5830C36B-1773-4E3E-AF8C-B21F54633E0A" rel="license">Avis</a>
                    </li>
                    <li>
                        <a href="http://ec.gc.ca/transparence-transparency/default.asp?lang=Fr&amp;n=3C401D5C-1">Transparence</a>
                    </li>
                </ul>
                <div class="row">
                    <!-- FooterStart -->
                    <section class="col-sm-3">
                        <h3>À propos d’Environnement et Changement climatique Canada</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="http://www.ec.gc.ca/default.asp?lang=Fr&amp;n=BD3CE17D-1">Notre mandat</a>
                            </li>
                            <li>
                                <a href="http://ec.gc.ca/default.asp?lang=Fr&amp;n=B6832638-1">Le ministre</a>
                            </li>
                            <li>
                                <a href="http://woudc.org/sitemap.php?lang=fr">Plan du site</a>
                            </li>
                        </ul>
                    </section>
                    <section class="col-sm-3">
                        <h3>WOUDC</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="http://woudc.org/news/?lang=fr">Nouvelles</a>
                            </li>
                            <li>
                                <a href="http://woudc.org/contact.php?lang=fr">Communiquez avec le WOUDC</a>
                            </li>
                        </ul>
                    </section>
                    <section class="col-sm-3">
                        <h3>OMM</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="http://www.wmo.int/pages/about/index_fr.html" rel="external">L’OMM en bref</a>
                            </li>
                            <li>
                                <a href="http://www.wmo.int/pages/mediacentre/news/index_fr.html" rel="external">Nouvelles</a>
                            </li>
                            <li>
                                <a href="http://www.wmo.int/gaw" rel="external">VAG</a>
                            </li>
                        </ul>
                    </section><!-- FooterEnd -->
                </div>
            </nav>
        </div>
        <div id="gc-info">
            <div class="container">
                <nav role="navigation">
                    <h2>Government of Canada footer</h2>
                    <ul class="list-inline">
                        <li>
                            <a href="http://healthycanadians.gc.ca/index-fra.php"><span>Santé</span>canadiensensante.gc.ca</a>
                        </li>
                        <li>
                            <a href="http://www.travel.gc.ca/index-fra.asp"><span>Voyage</span>voyage.gc.ca</a>
                        </li>
                        <li>
                            <a href="http://www.servicecanada.gc.ca/fra/accueil.shtml"><span>Service Canada</span>servicecanada.gc.ca</a>
                        </li>
                        <li>
                            <a href="http://www.jobbank.gc.ca/intro-fra.aspx"><span>Emplois</span>guichetemplois.gc.ca</a>
                        </li>
                        <li>
                            <a href="http://actionplan.gc.ca/fr"><span>Économie</span>plandaction.gc.ca</a>
                        </li>
                        <li id="canada-ca">
                            <a href="http://www.canada.ca/fr/index.html">Canada.ca</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer><!-- ScriptsStart -->
    <!--[if gte IE 9 | !IE ]><!-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js">
    </script> 
    <script src="/static/libs/js/wet-boew-theme-gcwu-fegc/js/wet-boew.min.js">
    </script> <!--<![endif]-->
     <!--[if lt IE 9]><script src="/static/libs/js/wet-boew-theme-gcwu-fegc/js/ie8-wet-boew2.min.js"></script><![endif]-->
     <!-- ScriptsEnd -->
     <!-- CustomScriptsStart -->
     
    <script type="text/javascript">
       (function() {
          $('.md-alert').addClass('alert alert-info');
          $('table').addClass('table');
          })();
    </script> <!-- CustomScriptsEnd -->
</body>
</html>
